<footer>

  <section class="footerLower">
    <div class="container">
      <div class="row-fluid">
        <div class="span2 copyright">
          <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
            <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" />
          </a>
        </div>

        <div class="span10 copyright">
          <center>GeoTrellis and the GeoTrellis logo are trademarks of the Eclipse Foundation, Inc.</center>
        </div>
      </div>
    </div>
  </section>

</footer>
