project/boot
project/plugins/project
project/plugins/target
project/target
target
.ensime
TAGS
\#*#
*~
.#*
.lib
*.aux.xml
*.jar

*.pyc
.project
.classpath
.cache
.settings
.history
.idea

.vagrant
deployment/ansible/roles/azavea.*

srv/data/hillshade/hills.arg
site/_site
site/_site/*
srv/hs_err_pid*

assembly
build
deployment/GT-SITE.tfstate*
*tfstate*
