version: '2.1'

services:
  gtsite-service:
    image: openjdk:8-jre
    ports:
      - "9090:9090"
    entrypoint: ./sbt
    command: srv/run docs/run
    working_dir: /service
    volumes:
      - "${HOME}/.ivy2:/root/.ivy2"
      - "${HOME}/.m2:/root/.m2"
      - "${HOME}/.sbt:/root/.sbt"
      - "./service/:/service"
      - "./service/srv/data:/srv/data"

  gtsite-assets:
    build:
      context: ./static
      dockerfile: Dockerfile
    volumes:
      - ./static:/build
      - ./nginx:/handoff
    command: "bash -c 'jekyll build && rsync -a --delete /build/_site /handoff/'"

  gtsite-nginx:
    image: quay.io/geotrellis/gtsite-nginx
    build:
      context: ./nginx
      dockerfile: Dockerfile
    depends_on:
      - gtsite-service
    ports:
      - "8080:8080"
    volumes:
      - ./nginx/_site:/var/www
      - ./nginx/nginx.conf:/etc/nginx/default.conf
