<header class="navbar navbar-fixed-top" id="top">
  <div class="navbar-inner navbar-header">
    <!-- <div class="container topbar"> -->
    <div class="topbar">
      <a class="navbar-brand" href="/"><span></span> GeoTrellis</a>
      <ul class="nav collapse navbar-collapse" id="menu-collapse">
        <li><a href="/">Overview</a></li>
        <li><a href="/documentation.html">Documentation</a></li>
        <li><a href="https://github.com/geotrellis/geotrellis">Source</a></li>
      </ul>
    </div>
  </div>
</header>
