<div class="call-to-action call-to-action--secondary call-to-action--{{ include.type }}">
    <div class="call-to-action__inner">
        <div class="call-to-action__column">
            <h3 class="call-to-action__title">
                Need help getting started?
            </h3>
            <p class="call-to-action__blurb">
                Join us in our Gitter channel.
            </p>
            <a href="https://gitter.im/geotrellis/geotrellis" class="call-to-action__button button button--outline">
                Join
            </a>
        </div>
        
        <div class="call-to-action__column">
            <h3 class="call-to-action__title">
                Looking for a custom solution?
            </h3>
            <p class="call-to-action__blurb">
                We have nearly ten years of experience helping organizations accomplish their goals.
            </p>
            <a href="mailto:{{ site.email }}" class="call-to-action__button button button--outline">
                Contact us
            </a>
        </div>
    </div>
</div>