<footer class="footer">
    <div class="footer__inner">
        <a href="/"><img class="footer__brand" src="{{ site.baseurl }}/assets/images/geotrellis-logo-darkbg.svg" alt="Geotrellis logo"></a>
        <nav>
            <a role="menuitem" href="{{ site.url }}/documentation">
                Documentation
            </a>
            <a role="menuitem" href="https://github.com/geotrellis/geotrellis">
                Github
            </a>
        </nav>
        <small class="footer__copyright">
                © 2016 - {{ 'now' | date: "%Y" }} <a href="www.azavea.com">Azavea</a> Inc., using technology to inform research for civic and social impact. All rights reserved.
        </small>
        <ul class="footer__bottom">
            <li>
                <a href="https://azavea.com/terms-of-use/">
                    Terms of Use
                </a>
            </li>
            <li>
                <a href="https://azavea.com/privacy-policy/">
                    Privacy Policy
                </a>
            </li>
        </ul>
    </div>
</footer>
