<div class="navbar">
    <div class="navbar__inner">
        <a href="/" class="navbar__brand" title="GeoTrellis home">
            <img src="{{ site.baseurl }}/assets/images/geotrellis-logo-darkbg.svg" alt="GeoTrellis logo">
        </a>

        <nav id="navbar" class="navbar__nav">
            <button id="js-menubutton" class="button button--ghost navbar__menu-button" aria-expanded="false" aria-haspopup="true">
                <img src="{{ site.baseurl }}/assets/icons/bars.svg" alt="Menu"/>
            </button>

            <ul id="js-menu" class="navbar__list" role="menu" hidden>
                <li class="navbar__list-item" role="presentation">
                    <a class="navbar__link 
                        {% if page.url == '/documentation' %}
                            navbar__link--active
                        {% endif %}" role="menuitem" href="{{ site.url }}/documentation">
                        <i class="fal fa-book navbar__link-icon"></i>
                        Documentation
                    </a>
                </li>
                <li class="navbar__list-item" role="presentation">
                    <a class="navbar__link" role="menuitem" href="https://github.com/geotrellis/geotrellis">
                        <i class="fab fa-github navbar__link-icon"></i>
                        GitHub
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
