<div class="option-pane">
  <ul>
    <li><a href="https://geotrellis.github.io/scaladocs/latest/#geotrellis.package">Latest</a></li>
    <li><a href="https://geotrellis.github.io/scaladocs/2.0/#geotrellis.package">Version 2.0</a></li>
    <li><a href="https://geotrellis.github.io/scaladocs/1.2/#geotrellis.package">Version 1.2</a></li>
    <li><a href="https://geotrellis.github.io/scaladocs/1.1/#geotrellis.package">Version 1.1</a></li>
    <li><a href="https://geotrellis.github.io/scaladocs/1.1/#geotrellis.package">Version 1.1</a></li>
    <li><a href="https://geotrellis.github.io/scaladocs/1.0/#geotrellis.package">Version 1.0</a></li>
    <li><a href="https://geotrellis.github.io/scaladocs/0.10/#geotrellis.package">Version 0.10</a></li>
  </ul>
</div>
