// Colors
$gt-darkblue        : #1c2e3f;
$gt-blue            : #3a7ec0;
$gt-yellow          : #fff29d;
$gt-green           : #a3ce5b;

$navbar-gray        : #434343;
$text-gray          : #7d8b8d;
$light-gray         : #ecf0f0;

// Media Queries
$screen-xs          : 'screen and (max-width: 480px)';
$screen-sm          : 'screen and (max-width: 767px)';
$screen-md          : 'screen and (max-width: 991px)';
$screen-xl          : 'screen and (min-width: 1200px)';
