.footer {
    width: 100%;
    position: relative;
    background: $footer-background;
    color: $footer-color;
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;

    @media all and (min-width: 80rem) {
        margin: 0 auto;
    }

    &__section {
        flex: auto;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: $main-max-width;
        margin: auto;
        padding: 2.5rem;
        text-align: center;

        @media all and (min-width: $bp-small-3) {
            align-items: flex-start;
            text-align: left;
            padding: 3.5rem 2.5rem;
        }
    }

    &__main-content {
        width: 100%;

        @media all and (min-width: $bp-small-3) {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
        }
    }

    &__brand {
        display: block;
        margin: 0 auto 1rem;
        width: 15rem;

        @media all and (min-width: $bp-small-3) {
            margin: 0 0 1rem 0;
            width: 20rem;
        }
    }

    &__text {
        display: block;
        max-width: 60rem;
        @include text(200, $color: $brand-porcelain);
    }

    &__text--trademark {
        opacity: 0.5;
    }
    
    &__nav {
        @media all and (max-width: $bp-small) {
            display: flex;
            flex-direction: column;   
        }     

        a:not(.btn) {
            margin: $pad-compact $pad-small;

            @media all and (max-width: $bp-small-3) {
                display: block;
            }
        }
    }

    &__bottom {
        display: flex;
        padding-bottom: 0;
        line-height: 1.5;
        text-transform: uppercase;
        font-size: 1.2rem;

        @media all and (max-width: $bp-small-3) {
            justify-content: center;
        }

        li {
            text-indent: 0;
            display: inline-flex;     
            padding-left: 0.5rem;   
        }

        li:first-child {
            padding-left: 0;   
        }

        li:before {
            content: "•";
            color: $brand-slate;
            margin-right: 0.5rem;
        }

        li:first-child:before {
            content: "";
            margin-right: 0;
        }
    }

    a {
        color: $footer-color;
        text-decoration: none;

        &:hover {
            color: $primary;
            cursor: pointer;
            text-decoration: underline;
        }
    }
}
