<section class="section section--developing section--dark">
    <div class="section__inner">
        <header class="section__header">
            <h2 class="section__title">
                {{ page.developing.title }}
            </h2>
            <p class="section__blurb" markdown="1">{{ page.developing.blurb }}</p>
            <a href="{{ page.developing.url }}" class="button button--primary">
                Join
            </a>
        </header>
        <div class="image-container">
            <img src="{{ page.developing.image }}" alt="{{ page.developing.image-alt }}" class="image">
        </div>
    </div>
</section>