---
layout: default
title: Geotrellis | Fast Raster Processing
---

<div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="overview">
          <span class="brandname-emphasis">GeoTrellis</span> Documentation
        </h2>
        <p>
          In addition to our API documentation, we provide a detailed
          <a href="https://docs.geotrellis.io/en/latest/">User Guide</a>.
          Please see that guide for setup instructions, tutorials,
          and explanations of GeoTrellis/GIS concepts.
        </p>

        <p>
          If you can't find exactly what you're looking for in either our
          Guide or API docs, feel free to join us in our
          <a href="https://gitter.im/geotrellis/geotrellis">Gitter channel</a>,
          where we can (as live as possible) answer your questions.
        </p>

      </div>
    </div>
  </div>
</div>

<div>
  <div class="container">
    <h2>GeoTrellis User Guide</h2>
    <hr class="half" />
    <div class="row">
      <div class="col-sm-8">
        Our User Guide is hosted on <a href="https://readthedocs.org/">ReadTheDocs</a>,
        and provides all the conceptual information required to use GeoTrellis.
      </div>
      <div class="col-sm-4">
        {% include rtd-links.html %}
      </div>
    </div>
  </div>
</div>


<div>
  <div class="container">
    <h2>Scala API Documentation</h2>
    <hr class="half" />
    <div class="row">
      <div class="col-sm-8">
        <p>
          The <i>latest</i> Scaladoc tracks the master branch on github. Tagged
          releases are identified by their version number.
        </p>
      </div>
      <div class="col-sm-4">
        {% include scaladoc-versions.html %}
      </div>
    </div>
  </div>
</div>

<div>
  <div class="container">
    <h2>Contributing to GeoTrellis</h2>
    <hr class="half" />
    <div class="row">
      <div class="col-sm-12">
        <p>
          GeoTrellis is an open source project, so contributions of any kind
          are welcome and appreciated! Contributors will need to sign a CLA
          (Contributor's License Agreement). These details and others relating to
          GeoTrellis contributions can be found
          <a href="https://docs.geotrellis.io/en/latest/contributing.html">here</a>.
        </p>
      </div>
    </div>
  </div>
</div>
