description "GeoTrellis documentation website"

start on (local-filesystems and net-device-up IFACE!=lo)
stop on shutdown

respawn
setuid {{ geotrellis_site_user }}
chdir /opt/geotrellis-site/srv

exec java -jar /opt/geotrellis-site/srv/target/scala-2.10/site.jar >> {{ geotrellis_site_log }} 2>&1
