---
page_class: l-page
---

<!DOCTYPE html>
<html>
{% include head.html %}
    <body 
        {% if page.page_class %} 
            class="{{- page.page_class }} {{ layout.page_class -}}" 
        {% endif %}>
        
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WVKTSL4"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        
        <div class="main">
            {% include navbar.html %}
            <main class="main__inner">
                {% include hero.html %}
                <div class="section">
                    <div class="content">
                        <header class="header">
                            <p class="header__blurb">
                                {{ page.intro }}
                            </p>
                        </header>
                        
                        <div class="content__inner">
                            <!-- page content -->
                            {{ content }}
                            <!-- page content -->
                        </div>
                    </div>
                </div>

                <!-- call-to-action -->
                {% if page.cta-blurb %}
                    {% include call-to-action.html 
                        cta-blurb = page.cta-blurb
                    %}
                {% endif %}
                <!-- call-to-action -->
            </main>
            {% include footer.html %}
        </div>
        {% if page.js_dependencies %}
            {% for dependency in page.js_dependencies %}
            <script src="{{ site.baseurl }}/assets/javascript/{{ dependency }}"></script>
            {% endfor %}
        {% endif %}  
        <script src="{{ site.baseurl }}/assets/javascript/main.js"></script>
    </body>
</html>