// Partials: Content

.jumbotron {
    background: url(../images/bg-static.png);
    background-size: cover;
    min-height: 400px;
    margin-top: 52px;
    
    h1 {
        font-size: 6rem;
        font-weight: 400;
        text-shadow: 0 1px 1px rgba(0,0,0,.25);
        color: #FFF;
        margin-top: 50px;
        margin-bottom: 10px;
    }
    p {
        font-size: 2.4rem;
        font-family: 'Signika', sans-serif;
        color: $gt-yellow;
        margin-bottom: 24px;
        
        > a {
            padding: 12px 24px;
            font-size: 2.1rem;
            line-height: 1.5;
            border-radius: 0;
            margin-right: 10px;
        }
    }
}

#what-is-geotrellis {
    padding-top: 52px;
    
    img {
        max-width: 100%;
        height: auto;
    }
    hr {
        margin-bottom: 40px;
        margin-top: 40px;
        
        &.half {
            width: 50%;
            margin-right: auto;
            margin-left: auto;
        }
    }
    .setup-container {
        position: relative;
    }
}
#case-studies {
    background: $light-gray;
    padding: 40px 0;
    margin-top: 50px;
    
    .case-study {
        width: 100%;
        min-height: 200px;
        background: $text-gray;
        position: relative;
        display: block;
        overflow: hidden;
        margin-bottom: 10px;
        
        h4 {
            position: absolute;
            bottom: 0;
            background: #24A3C3;
            margin: 0;
            padding: 14px 12px;
            width: 100%;
            font-family: 'Signika', sans-serif;
            font-size: 1.6rem;
            color: #FFF;
            font-weight: 400;
        }
        img {
            width: 100%;
            height: auto;
        }
    }
}
